[core]
name: EZRG_Tester
copyFrom: Templates\CommonSioxTemplates\dummy.attachment

[attack]
canAttack: true
canAttackFlyingUnits: if self.parent.readUnitMemory(name="canAttackFlyingUnits",type="boolean",false)
canAttackLandUnits: if self.parent.readUnitMemory(name="canAttackLandUnits",type="boolean",false)
canAttackUnderwaterUnits: if self.parent.readUnitMemory(name="canAttackUnderwaterUnits",type="boolean",false)
maxAttackRange: 0