
[core]
class: CustomUnitMetadata
price: ccredits=0
maxHp: 0
mass: 0
showInEditor:false
disableDeathOnZeroHp: true
ignoreInUnitCapCalculation: true
isUnselectable: true
techLevel: 1
buildSpeed: 0
radius: 0
showOnMinimap: false

[hiddenAction_transferKill]
autoTriggerOnEvent: killedAnyUnit
takeResources: kills=-1
takeResources_includeParent: true
takeResources_discardCollected: true

[hiddenAction_noParent]
autoTrigger: if not self.hasParent
deleteSelf: true

[graphics]
image_shadow: NONE
shadowOffsetX:0
shadowOffsetY:0 

[movement]
movementType: NONE
moveSpeed: 0
moveAccelerationSpeed: 0
moveDecelerationSpeed: 0
maxTurnSpeed: 0
turnAcceleration: 0