[core]
copyFrom: ROOT:ASSETS/templates/T1engineer.ini
name:      builder
price:     ccredits=500
maxHp:     170
mass:      200
techLevel: 1
buildSpeed: 6s
radius: 7
displayRadius: 10
isBio: false
showInEditor: false
canReclaimResources:true
canRepairUnits: false
canRepairBuildings:true
autoRepair:true
nanoRange: 95
nanoBuildSpeed: 1
nanoRepairSpeed: 0.1
fogOfWarSightRange: 10

[hiddenAction_checkIsReady]
autoTrigger: if not self.globalTeamTags(includes="READY")
convertTo:builderRemover

[hiddenAction_changeTo1]
autoTrigger: if self.globalTeamTags(includes="CYBERSTAN")
convertTo:doggidoggiBuilder

[hiddenAction_changeTo2]
autoTrigger: if self.globalTeamTags(includes="OZD")
convertTo:reichBuilder

[hiddenAction_changeTo3]
autoTrigger: if self.globalTeamTags(includes="BANANA")
convertTo:sanaBuilder

[hiddenAction_changeTo4]
autoTrigger: if self.globalTeamTags(includes='JAPAN')
convertTo:yakuzBuilder