[core]
mass: 9999999
canNotBeDirectlyAttacked:true
isUnselectable:true
fogOfWarSightRange:0
ignoreInUnitCapCalculation:true
hideScorchMark:true
disableAllUnitCollisions:true

[graphics]
total_frames:1
showShotDelayBar:false
showEnergyBar:false
showTransportBar:false
showShieldBar:false
drawLayer:wreaks

[attack]
canAttack:false

[turret_1]
turnSpeed:0
turnSpeedAcceleration:0
canShoot:false
shouldResetTurret:false

[movement]
movementType:NONE