[template_true]
#experimental codes for projectiles
turnSpeed: 0
autoTargetingOnDeadTarget: true
autoTargetingOnDeadTargetRange: 1500
#autoTargetingOnDeadTargetLead: 999999999
disableLeadTargeting: false
retargetingInFlight: true
retargetingInFlightSearchDelay: 0
retargetingInFlightSearchRange: 1500
#retargetingInFlightSearchLead: 40
#projectile_expCodesForProjectiles
