[resource_heat]
#displayName: Main weapon heat
#displayNameShort: Main weapon heat 
hidden: true
priority: 1

[turret_heat]
x: 0
y: 0
slave:true
projectile: heat
shoot_sound: none
canShoot: true
invisible: if not self.resource(type='heat', greaterThan=0)

[projectile_heat]
life: 0
speed: 0
targetSpeed: 0
directDamage: 0
image: SHARED:blank.png