# [hiddenAction_iscreated]
# autoTriggerOnEvent: completeAndActive
# addResourcesWithLogic: creditsNet=${core.income}
# [hiddenAction_isdestroyed]
# autoTriggerOnEvent: destroyed
# addResourcesWithLogic: creditsNet=-${core.income}