[core]
isBio: true
isBug: true
isBuilding: true

[hiddenAction_boostProd1]
autoTrigger:if self.globalTeamTags(includes="bugtechEgg1")
setUnitStats:nanoFactorySpeed=1.25

[hiddenAction_boostProd2]
autoTrigger:if self.globalTeamTags(includes="bugtechEgg2")
setUnitStats:nanoFactorySpeed=1.5

[hiddenAction_boostProd3]
autoTrigger:if self.globalTeamTags(includes="bugtechEgg3")
setUnitStats:nanoFactorySpeed=1.75