[core]
name:OrbitalSignal

[resource_signal]
displayName:Signal attenuation
displayName_zh:信号衰减
hidden:false
displayRoundedDown:false
displayWhenZero:true
[hiddenAction_signal]
autoTrigger:if self.resource(greaterThan=3,type='signal')
resourceAmount:signal
resourceAmount_setValue:3
[hiddenAction_signal2]
autoTrigger:if self.resource(greaterThan=0,type='signal')
addResources:signal=-0.5

[action_countAmmo]
addResources:MSite=1
price:MSite=1
text:Военные активы:
description:-Количественная оценка всех военных активов на орбите\n-Спутники связи, платформы вооружения, военные станции
displayType:infoOnly
buildSpeed:0s
pos:0.3
displayRemainingStockpile:true
isActive:false
[action_countEnergy]
addResources:ESite=1
price:ESite=1
text:Энергетические активы:
description:-Количественная оценка всех орбитальных энергетических активов\n-Спутники передачи энергии, рои Дайсона, заправочные станции
displayType:infoOnly
buildSpeed:0s
pos:0.4
displayRemainingStockpile:true
isActive:false

[action_sensorPing]
fireTurretXAtGround:sensorPing
price:MSite=5
ai_isDisabled:true
text:Спутниковое картографирование
description:-СТОИМОСТЬ: 5 Военных активов\n-\n-Организует полет военного спутника над областью и сбор разведданных\n-Открывает умеренную область карты на 10 секунд
displayType:action
buildSpeed:2s
pos:1.1
displayRemainingStockpile:true
highPriorityQueue:true
isVisible:true
onlyOneUnitAtATime:true
iconImage:icon2_ping.png
isLocked:if self.resource(greaterThan=0,type='signal')
isLockedMessage:Вражеский стратегический оборонный комплекс создает помехи коммуникациям
isLockedAlt:if self.resource(greaterThan=0,type='EMP')

[action_orbitalDrop]
fireTurretXAtGround:orbitalDrop
price:ccredits=75000
ai_isDisabled:true
text:Дроппод
description:\n-Тяжелобронированная капсула, оснащенная ретро-ракетами\n-Разработана для быстрой доставки
displayType:action
buildSpeed:2s
pos:1.1
displayRemainingStockpile:true
highPriorityQueue:true
isVisible:true
onlyOneUnitAtATime:true
iconImage:icon2_drop.png
isLocked:if self.resource(greaterThan=0,type='signal')
isLockedMessage:Вражеский стратегический оборонный комплекс создает помехи коммуникациям
isLockedAlt:if self.resource(greaterThan=0,type='EMP')
playSoundAtUnit:ROOT:assets/sounds/reinforce_message.ogg:3.5

[action_shieldJammer]
fireTurretXAtGround:shieldJammer
price:ESite=20
ai_isDisabled:true
text:Щит-глушилка
description:-СТОИМОСТЬ: 20 Энергетических активов\n-Орбитальная станция будет бомбардировать область резонирующими электромагнитными волнами\n-Перегружает все системы щитов в целевой области на 20 секунд
displayType:action
buildSpeed:2s
pos:1.1
displayRemainingStockpile:true
highPriorityQueue:true
isVisible:true
onlyOneUnitAtATime:true
iconImage:icon2_jammer.png
isLocked:if self.resource(greaterThan=0,type='signal')
isLockedMessage:Вражеский стратегический оборонный комплекс создает помехи коммуникациям
isLockedAlt:if self.resource(greaterThan=0,type='EMP')

[action_nanoBeam]
fireTurretXAtGround:nanoBeam
price:ESite=20
ai_isDisabled:true
text:Нано перезарядка
description:-СТОИМОСТЬ: 20 Энергетических активов\n-Перезаряжает системы наноремонта в фиксированном радиусе посредством электрической индукции\n-Эта сила позволяет всем транспортным средствам ремонтироваться со значительно ускоренной скоростью
displayType:action
buildSpeed:2s
pos:1.1
displayRemainingStockpile:true
highPriorityQueue:true
isVisible:true
onlyOneUnitAtATime:true
iconImage:icon2_nano.png
isLocked:if self.resource(greaterThan=0,type='signal')
isLockedMessage:Вражеский стратегический оборонный комплекс создает помехи коммуникациям
isLockedMessage_zh:敌方战略防御复合体在干扰通讯
isLockedAlt:if self.resource(greaterThan=0,type='EMP')

[action_kineticStrike]
fireTurretXAtGround:kineticStrike
price:MSite=40
ai_isDisabled:true
text:Кинетический удар
description:-СТОИМОСТЬ: 30 Военных активов\n-Большой невзрывоопасный снаряд, который замедляется с орбиты, чтобы поразить целевую область
displayType:action
buildSpeed:2s
pos:1.1
displayRemainingStockpile:true
highPriorityQueue:true
isVisible:true
onlyOneUnitAtATime:true
iconImage:icon2_kinetic.png
isLocked:if self.resource(greaterThan=0,type='signal')
isLockedMessage:Вражеский стратегический оборонный комплекс создает помехи коммуникациям
isLockedAlt:if self.resource(greaterThan=0,type='EMP')
playSoundAtUnit:ROOT:assets/sounds/orbital_strike_message.ogg:3.5

[action_dysonBeam]
fireTurretXAtGround:dysonBeam
price:ESite=50
ai_isDisabled:true
text:Луч Дайсона
description:-СТОИМОСТЬ: 50 Энергетических активов\n-Солнечная энергия, направляемая и фокусируемая в узкий луч с помощью ряда спутников\n-Длится 10 секунд, прежде чем исчезнуть\n-Можно отдать приказ перенаправить луч
displayType:action
buildSpeed:2s
pos:1.1
displayRemainingStockpile:true
highPriorityQueue:true
isVisible:true
onlyOneUnitAtATime:true
iconImage:icon2_laser.png
isLocked:if self.resource(greaterThan=0,type='signal')
isLockedMessage:Вражеский стратегический оборонный комплекс создает помехи коммуникациям
isLockedAlt:if self.resource(greaterThan=0,type='EMP')
playSoundAtUnit:ROOT:assets/sounds/orbital_strike_message.ogg:3.5

[action_dirtyBomb]
fireTurretXAtGround:dirtyBomb
price:MSite=150
ai_isDisabled:true
text:Грязная бомба
description:-СТОИМОСТЬ: 350 Военных активов\n-Нестандартное ядерное оружие со сравнительно меньшей взрывной силой\n-Предназначено для рассеивания неиспользованного расщепляющегося материала в атмосфере с целью создания облака разрушительной радиации\n-(Длится 4 минуты)
displayType:action
buildSpeed:2s
pos:1.2
displayRemainingStockpile:true
highPriorityQueue:true
isVisible:true
onlyOneUnitAtATime:true
iconImage:icon2_fallout.png
isLocked:if self.resource(greaterThan=0,type='signal')
isLockedMessage:Вражеский стратегический оборонный комплекс создает помехи коммуникациям
isLockedAlt:if self.resource(greaterThan=0,type='EMP')
playSoundAtUnit:ROOT:assets/sounds/orbital_strike_message.ogg:3.5

[action_mirv]
fireTurretXAtGround:mirv
price:MSite=40
text:M.I.R.V.
description:-СТОИМОСТЬ: 40 Военных активов\n-Независимая боеголовка\n-Запускает 8 миниатюрных боеголовок, которые разбрасываются по целевой области\n-Сама по себе слаба, но способна перегружать системы обороны
ai_isDisabled:true
displayType:action
buildSpeed:2s
pos:1.1
displayRemainingStockpile:true
highPriorityQueue:true
isVisible:true
onlyOneUnitAtATime:true
iconImage:icon2_mirv.png
isLocked:if self.resource(greaterThan=0,type='signal')
isLockedMessage:Вражеский стратегический оборонный комплекс создает помехи коммуникациям
isLockedAlt:if self.resource(greaterThan=0,type='EMP')

[turret_sensorPing]
x:0
y:0
projectile:sensorPing
size:1
turnSpeed:15
canShoot:false
invisible:true
limitingRange:99998
[turret_orbitalDrop]
x:0
y:0
projectile:orbitalDrop
size:1
turnSpeed:15
canShoot:false
invisible:true
[turret_shieldJammer]
x:0
y:0
projectile:shieldJammer
size:1
turnSpeed:15
canShoot:false
invisible:true
[turret_nanoBeam]
x:0
y:0
projectile:nanoBeam
size:1
turnSpeed:15
canShoot:false
invisible:true
[turret_kineticStrike]
x:0
y:0
projectile:kineticStrike
size:1
turnSpeed:15
canShoot:false
invisible:true
[turret_kineticStrike_AI]
x:0
y:0
projectile:kineticStrike
size:1
turnSpeed:15
canShoot:true
invisible:true
delay:10s
canAttackCondition:if self.isControlledByAI()and self.resource(type="MSite",greaterThan=29)and self.hasFlag(id=3)and self.resource(equalTo=0,type='signal')
resourceUsage:unsetFlag=3,MSite=30
[turret_dysonBeam]
x:0
y:0
projectile:dysonBeam
size:1
turnSpeed:15
canShoot:false
invisible:true
[turret_dysonBeam_AI]
x:0
y:0
projectile:dysonBeam
size:1
turnSpeed:15
canShoot:true
invisible:true
delay:20s
canAttackCondition:if self.isControlledByAI()and self.resource(type="ESite",greaterThan=49)and self.hasFlag(id=4)and self.resource(equalTo=0,type='signal')
resourceUsage:unsetFlag=4,ESite=50
[turret_dirtyBomb]
x:0
y:0
projectile:dirtyBomb
size:1
turnSpeed:15
canShoot:false
invisible:true
[turret_mirv]
x:0
y:0
projectile:mirv
size:1
turnSpeed:15
canShoot:false
invisible:true
[projectile_sensorPing]
directDamage:0
life:60
deflectionPower:-1
spawnUnit:EkSensorPing(alwayStartDirAtZero=true)
instant:true
[projectile_orbitalDrop]
directDamage:0
life:60
deflectionPower:-1
spawnUnit:EkOrbitalDropSpawner(alwayStartDirAtZero=true)
instant:true
[projectile_shieldJammer]
directDamage:0
life:60
deflectionPower:-1
spawnUnit:EkShieldJammer(alwayStartDirAtZero=true)
instant:true
[projectile_nanoBeam]
directDamage:0
life:60
deflectionPower:-1
spawnUnit:EkNanoBeamSpawner(alwayStartDirAtZero=true)
instant:true
[projectile_kineticStrike]
directDamage:0
life:60
deflectionPower:-1
spawnUnit:EkKineticSpawner(alwayStartDirAtZero=true)
instant:true
[projectile_dysonBeam]
directDamage:0
life:60
deflectionPower:-1
spawnUnit:EkBigScaryLaser(alwayStartDirAtZero=true)
instant:true
[projectile_dirtyBomb]
directDamage:0
life:60
deflectionPower:-1
spawnUnit:EkDirtybombSpawner(alwayStartDirAtZero=true)
instant:true
[projectile_mirv]
directDamage:0
life:60
deflectionPower:-1
spawnUnit:EkMirvSpawner(alwayStartDirAtZero=true)
instant:true