[effect_smokeTrail]
life: 80
alpha: 0.4
atmospheric:true
fadeInTime: 5
fadeOut:true
frameIndex: 0
stripIndex: smoke_black
xSpeedAbsoluteRandom: 0.1
ySpeedAbsoluteRandom: 0.1
ySpeedRelative: -0.3
hSpeed:0.1
attachedToUnit: false
#drawUnderUnits:false