[effect_implosion]
life: 27
alsoPlaySound: ROOT:shared/sounds/energy_warmup00.ogg
attachedToUnit: true
dirOffsetRandom:40

scaleFrom: 20
scaleTo: 0
alpha: 0.5
fadeInTime: 2.5
fadeOut: false
hOffset: -15
attachedToUnit: true

#delayedStartTimer: 10

image: ROOT:shared/graphicsEffects/starFarer_implosion.png
drawUnderUnits: false

[effect_deathMark]
attachedToUnit: false
life: 6000
physics: false
image: ROOT:shared/graphicsEffects/scorchmark.png

hOffset: 1

#priority: low

createWhenOverLiquid: false

alwayStartDirAtZero: true

#fadeInTime: 20

scaleFrom: 0.8
scaleTo: 0.8
fadeOut: true
alpha: 10

drawUnderUnits: true

[effect_areaShock]
life: 100
priority: high
image: ROOT:shared/graphicsEffects/starFarer_shockwave.png 
fadeOut: true
attachedToUnit: true
scaleTo: 3
scaleFrom: 0.3
alpha:0.9

[effect_explosion]
life: 200
scaleFrom: 1.3
scaleTo: 1
image: ROOT:shared/graphicsEffects/starFarer_explode.png
total_frames: 20
animateFrameStart: 0
animateFrameEnd: 19
animateFrameSpeed: 0.3
alpha: 0.9
frame_width:  192
frame_height: 192

[effect_explosion2]
life: 200
scaleFrom: 1.3
scaleTo: 1
image: ROOT:shared/graphicsEffects/starFarer_explosion2.png 
total_frames: 15
animateFrameStart: 0
animateFrameEnd: 14
animateFrameSpeed: 0.3
alpha: 0.9

[effect_electric]
life:50
scaleFrom: 3
scaleTo: 3
alpha: 1
image: ROOT:shared/graphicsEffects/starFarer_energy.png 
total_frames:6
animateFrameStart: 0
animateFrameEnd: 5
animateFrameSpeed: 0.45
attachedToUnit:false
animateFrameLooping: true
 
[effect_flash]
life:70
atmospheric: true
alwayStartDirAtZero: true
scaleFrom: 3
scaleTo: 3
alpha: 0.6image: ROOT:shared/graphicsEffects/starFarer_explode_light.png 

