[template_sharedStarFarers]
order: 10
layer: shadow
onlyWhileAlive: true
imageScale: ${core.radius/122}
onlyWithZoomLevelOrMore: 0.4
#basePositionFromLegEnd: arm_20
basePosition: self.getOffsetRelative(dirOffset=self.timeAlive*${movement.maxTurnSpeed+1}*60)

[decal_selectionRadius.own]
@copyFromSection: template_sharedStarFarers
image: ROOT:shared/ui/ui.starFarers_selectionRadius.own.png
onlyWhenSelectedByOwnPlayer: true

[decal_selectionRadius.ally]
@copyFromSection: template_sharedStarFarers
image: ROOT:shared/ui/ui.starFarers_selectionRadius.ally.png
onlyWhenSelectedByAllyNotOwnPlayer: true

[decal_selectionRadius.enemy]
@copyFromSection: template_sharedStarFarers
image: ROOT:shared/ui/ui.starFarers_selectionRadius.enemy.png
onlyWhenSelectedByEnemyPlayer: true

[arm_20]
x: 0
y: 0
image_end: SHARED:blank.png
spinRate: ${movement.maxTurnSpeed+1}

[graphics]
showSelectionIndicator: false
