[core]
copyFrom:ammo.template

[projectile_100mm]
@copyFromSection:template_ammo
spawnProjectilesOnExplode:100mm_damage(yOffsetRelative=-20)

[projectile_100mm_damage]
@copyFromSection:template_damage_ammo
spawnUnit:100mm

[projectile_105mm]
@copyFromSection:template_ammo
spawnProjectilesOnExplode:105mm_damage(yOffsetRelative=-20)

[projectile_105mm_damage]
@copyFromSection:template_damage_ammo
spawnUnit:105mm