[core]
copyFrom:ammo.template

[projectile_120mm]
@copyFromSection:template_ammo
spawnProjectilesOnExplode:120mm_damage(yOffsetRelative=-20)

[projectile_120mm_damage]
@copyFromSection:template_damage_ammo
spawnUnit:120mm

[projectile_125mm]
@copyFromSection:template_ammo
spawnProjectilesOnExplode:125mm_damage(yOffsetRelative=-20)

[projectile_125mm_damage]
@copyFromSection:template_damage_ammo
spawnUnit:125mm