[core]
copyFrom:ammo.template

[projectile_20mm]
@copyFromSection:template_ammo
spawnProjectilesOnExplode:20mm_damage(yOffsetRelative=-20)

[projectile_20mm_damage]
@copyFromSection:template_damage_ammo
spawnUnit:20mm

[projectile_25mm]
@copyFromSection:template_ammo
spawnProjectilesOnExplode:25mm_damage(yOffsetRelative=-20)

[projectile_25mm_damage]
@copyFromSection:template_damage_ammo
spawnUnit:25mm