[core]
copyFrom:ammo.template

[projectile_30mm]
@copyFromSection:template_ammo
spawnProjectilesOnExplode:30mm_damage(yOffsetRelative=-20)

[projectile_30mm_damage]
@copyFromSection:template_damage_ammo
spawnUnit:30mm

[projectile_35mm]
@copyFromSection:template_ammo
spawnProjectilesOnExplode:35mm_damage(yOffsetRelative=-20)

[projectile_35mm_damage]
@copyFromSection:template_damage_ammo
spawnUnit:35mm