[core]
copyFrom:ammo.template

[projectile_40mm]
@copyFromSection:template_ammo
spawnProjectilesOnExplode:40mm_damage(yOffsetRelative=-20)

[projectile_40mm_damage]
@copyFromSection:template_damage_ammo
spawnUnit:40mm

[projectile_45mm]
@copyFromSection:template_ammo
spawnProjectilesOnExplode:45mm_damage(yOffsetRelative=-20)

[projectile_45mm_damage]
@copyFromSection:template_damage_ammo
spawnUnit:45mm