[projectile_flames]
image:ROOT:assets/projectiles/flame.png
directDamage:0
areaDamage:2
areaRadius:20
targetGroundSpread:13
targetGround:true
life: 60
speed: 3
frame: 1
drawSize: 0.7
explodeEffect:NONE
lightColor:#ff9600
lightSize:0.4
initialUnguidedSpeedHeight: 0.6
gravity:0.18
armourIgnoreAmount:-100

[projectile_dummyFire]
life: 60
speed: 3
directDamage:0
areaDamage:0
targetGroundSpread:13
targetGround:true
speed: 3
explodeEffect:NONE
spawnUnit:fire
drawSize:0.01