[turret_lancer_mg]
image:lancer_mg.png
size:7
attachedTo:1
slave:true
delay:6
idleDir:45
turnSpeed:8.0
turnSpeedAcceleration:0
shoot_sound:ROOT:assets/sounds/mg_shoot.wav
shoot_sound_vol:0.1
shoot_flame:CUSTOM:EkMuzzleTiny
shoot_light:#FFFFCC66
warmup:0
canAttackFlyingUnits:false
canAttackLandUnits:true
canAttackUnderwaterUnits:false
projectile:13mm
recoilOffset:0
canOnlyAttackUnitsWithTags:lightArmor,infantry

[effect_EkMuzzleTiny]
life:8
attachedToUnit:true
image:ROOT:assets/graphicsEffects/muzzle_tiny.png
total_frames:3
animateFrameStart:0
animateFrameEnd:2
animateFrameSpeed:0.5
fadeOut:false
scaleFrom:1.75
scaleTo:1.75
yOffsetRelative:6
xOffsetRelative:0